{{ lookup('ansible.builtin.file',
          [acme_certificate_keys_path, acme_certificate_key_name ~ '-root.pem'] | ansible.builtin.path_join) }}
{{ lookup('ansible.builtin.file',
          [acme_certificate_keys_path, acme_certificate_key_name ~ '-chain.pem'] | ansible.builtin.path_join) }}
