---
# Clean up DNS challenges for DNS provider HostTech
- name: Cleaning up challenge DNS entries for {{ ', '.join(acme_certificate_domains + acme_certificate_ips) }} via HostTech API
  community.dns.hosttech_dns_record_set:
    state: absent
    zone_name: "{{ item.key | community.dns.get_registrable_domain }}"
    record: "{{ item.key }}"
    type: TXT
    ttl: "{{ 600 if acme_certificate_hosttech_token is defined else 300 }}"
    value: "{{ item.value }}"
    hosttech_username: "{{ acme_certificate_hosttech_username | default(omit) }}"
    hosttech_password: "{{ acme_certificate_hosttech_password | default(omit) }}"
    hosttech_token: "{{ acme_certificate_hosttech_token | default(omit) }}"
  delegate_to: localhost
  run_once: true
  with_dict: "{{ acme_certificate_INTERNAL_challenge.challenge_data_dns | default({}) }}"
