---
- name: Creating challenge DNS entries for {{ ', '.join(acme_certificate_domains + acme_certificate_ips) }} via NS1 DNS
  ns1_record:
    apiKey: "{{ acme_certificate_ns1_secret_key }}"
    name: "{{ item.key }}"
    zone: "{{ item.key | community.dns.get_registrable_domain }}"
    state: present
    type: TXT
    answers:
      - answer:
          - "{{ item.value[0] }}"
        meta:
          up: true
  delegate_to: localhost
  when: "'_acme-challenge' in item.key"
  run_once: true
  with_dict: "{{ acme_certificate_INTERNAL_challenge.challenge_data_dns }}"

- name: Wait for DNS entries to propagate
  community.dns.wait_for_txt:
    records: >-
      {{
        acme_certificate_INTERNAL_challenge.challenge_data_dns.items()
          | map('felixfontein.tools.list_to_dict', ['name', 'values'])
          | list
      }}
    timeout: 120
  delegate_to: localhost
  run_once: true
