---
- name: DNS sanity checks (1/2)
  ansible.builtin.assert:
    that:
      - >-
        (acme_certificate_hosttech_username is defined and acme_certificate_hosttech_password is defined)
        or acme_certificate_hosttech_token is defined
      - >-
        not (
          (acme_certificate_hosttech_username is defined or acme_certificate_hosttech_password is defined)
          and acme_certificate_hosttech_token is defined
        )
    msg: >-
      acme_certificate_hosttech_token must be specified for HostTech DNS (new API), or alternatively
      acme_certificate_hosttech_username and acme_certificate_hosttech_password must be specified (old API)
  run_once: true

- name: DNS sanity checks (2/2)
  ansible.builtin.assert:
    that:
      - lookup('felixfontein.acme.check_collection', 'community.dns') is string
      - lookup('felixfontein.acme.check_collection', 'community.dns') is version('2.0.0', '>=')
    msg: "community.dns 2.0.0 or newer must be installed for HostTech DNS"
  run_once: true
