---
# GNU General Public License v3.0+ (see LICENSES/GPL-3.0-or-later.txt or https://www.gnu.org/licenses/gpl-3.0.txt)
# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-FileCopyrightText: 2021, Kariton (https://github.com/Kariton)

# Clean up DNS challenges for DNS provider INWX

- name: Cleaning up challenge DNS entries for {{ ', '.join(acme_certificate_domains + acme_certificate_ips) }} via INWX
  inwx.collection.dns:
    state: absent
    domain: "{{ item.0.key | felixfontein.acme._substitute_dns(acme_certificate_dns_substitution) | community.dns.get_registrable_domain }}"
    type: TXT
    record: "{{ item.0.key | felixfontein.acme._substitute_dns(acme_certificate_dns_substitution) | community.dns.remove_registrable_domain }}"
    value: "{{ item.1 }}"
    username: "{{ acme_certificate_inwx_username | default(omit) }}"
    password: "{{ acme_certificate_inwx_password | default(omit) }}"
  delegate_to: localhost
  run_once: true
  loop_control:
    extended: yes
  loop: "{{ acme_certificate_INTERNAL_challenge.challenge_data_dns | default({}) | dict2items | subelements('value') }}"
