---
# GNU General Public License v3.0+ (see LICENSES/GPL-3.0-or-later.txt or https://www.gnu.org/licenses/gpl-3.0.txt)
# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-FileCopyrightText: 2023, Lucca Jiménez Könings

# Create DNS challenges for DNS provider Cloudflare

- name: Debug below task
  ansible.builtin.debug:
    msg: "{{ item }}"
  with_dict: "{{ acme_certificate_INTERNAL_challenge.challenge_data_dns }}"
    
- name: Creating challenge DNS entries for {{ ', '.join(acme_certificate_domains + acme_certificate_ips) }} via Cloudflare API
  community.general.cloudflare_dns:
    api_token: "{{ acme_certificate_cloudflare_token }}"
    zone: "{{ item.key | felixfontein.acme._substitute_dns(acme_certificate_dns_substitution) | community.dns.get_registrable_domain }}"
    record: "{{ item.key | felixfontein.acme._substitute_dns(acme_certificate_dns_substitution) | community.dns.remove_registrable_domain }}"
    type: TXT
    value: "{{ item.value | map('regex_replace', '^(.*)$', '\"\\1\"') | list }}"
    solo: true
    state: present
    ttl: 60
  with_dict: "{{ acme_certificate_INTERNAL_challenge.challenge_data_dns }}"

- name: Wait for DNS entries to propagate
  community.dns.wait_for_txt:
    records: >-
      {{ acme_certificate_INTERNAL_challenge.challenge_data_dns | dict2items(key_name='name', value_name='values') | list }}
    timeout: 120
  delegate_to: localhost
  run_once: true
