---
# Clean up DNS challenges for DNS provider Amazon Route53
- name: Cleaning up challenge DNS entries for {{ ', '.join(acme_certificate_domains + acme_certificate_ips) }} via Route53
  community.aws.route53:
    state: absent
    zone: "{{ item.key | felixfontein.tools.dns_zone }}"
    record: "{{ item.key }}"
    type: TXT
    ttl: 60
    value: "{{ item.value | map('regex_replace', '^(.*)$', '\"\\1\"' ) | list }}"
    overwrite: true
    aws_access_key: "{{ acme_certificate_aws_access_key }}"
    aws_secret_key: "{{ acme_certificate_aws_secret_key }}"
  delegate_to: localhost
  run_once: true
  with_dict: "{{ acme_certificate_INTERNAL_challenge.challenge_data_dns | default({}) }}"
  tags:
  - issue-tls-certs-newkey
  - issue-tls-certs
