---
# Clean up challenge files on server.
- name: "Cleaning up challenge files for {{ ', '.join(acme_certificate_domains + acme_certificate_ips) }}"
  ansible.builtin.file:
    path: >-
      {{ [
        acme_certificate_server_location,
        item.value[acme_certificate_challenge].resource[('.well-known/acme-challenge/'|length):]
      ] | felixfontein.tools.path_join }}
    state: absent
  with_dict: "{{ acme_certificate_INTERNAL_challenge.get('challenge_data', {}) }}"
  become: "{{ acme_certificate_http_become }}"
  tags:
  - issue-tls-certs-newkey
  - issue-tls-certs
