---
# Create HTTP challenges for ansible-test's ACME test container
- name: "Copying challenge files for {{ ', '.join(acme_certificate_domains + acme_certificate_ips) }} (ansible-test internal)"
  ansible.builtin.uri:
    url: "http://{{ acme_host }}:5000/http/{{ item.key }}/{{ item.value[acme_certificate_challenge].resource[('.well-known/acme-challenge/'|length):] }}"
    method: PUT
    body_format: raw
    body: "{{ item.value[acme_certificate_challenge].resource_value }}"
    headers:
      content-type: "application/octet-stream"
  delegate_to: localhost
  run_once: true
  with_dict: "{{ acme_certificate_INTERNAL_challenge.challenge_data }}"
  tags:
  - issue-tls-certs-newkey
  - issue-tls-certs
