---
# Clean up HTTP challenges for ansible-test's ACME test container
- name: "Cleaning up challenge files for domains {{ ', '.join(acme_certificate_domains) }} (ansible-test internal)"
  ansible.builtin.uri:
    url: "http://{{ acme_host }}:5000/http/{{ item.key }}/{{ item.value[acme_certificate_challenge].resource[('.well-known/acme-challenge/'|length):] }}"
    method: DELETE
  delegate_to: localhost
  run_once: true
  with_dict: "{{ acme_certificate_INTERNAL_challenge.get('challenge_data', {}) }}"
  tags:
  - issue-tls-certs-newkey
  - issue-tls-certs
